body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container{
    display: flex;
    width: 50vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.col2{
    width: 50vw;
    height: 70vh;
}

iframe{
    width: 100%;
    height: 100%;
}