<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="flex.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        berikut ini adalah contoh object flex 
    </h1>

    <div class="flex-SA">

        <div class="box1">box 1</div>
        <div class="box2">box 1</div>
        <div class="box3">box 1</div>

    </div>
    <small>flex, justify-content: space-around</small>

    <br>

    <div class="flex-start">

        <div class="box1">box 1</div>
        <div class="box2">box 1</div>
        <div class="box3">box 1</div>
    
    </div>
    <small>flex, justify-content: flex-start</small>

    <br>

    <div class="flex-end">

        <div class="box1">box 1</div>
        <div class="box2">box 1</div>
        <div class="box3">box 1</div>
    
    </div>
    <small>flex, justify-content: flex-end</small>

    <br>

    <div class="flex-center">

        <div class="box1">box 1</div>
        <div class="box2">box 1</div>
        <div class="box3">box 1</div>
    
    </div>
    <small>flex, justify-content: center</small>

    <br>









</body>
</html>