<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="layout.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JVALLEY</title>
</head>
<body>
    

    <div class="navbar">
        <div class="brand" >
            <h2 onClick="{backme()}">
                JEMBLONGAN VALLEY
            </h2>
        </div>
        <div class="menu">

      
            <div class="menu-about">
                <h4>ABOUT</h4>
            </div>
  

            <div class="menu-portfolio">
                <h4>VISION</h4>
            </div>

            <div class="menu-contact">
                <h4>CONTACT</h4>
            </div>

            <div class="menu-gallery">
                <h4>GALLERY</h4>
            </div>


        </div>
    </div>

<!-- pembatas navbar -->

    <div class="hero">
        <h1>
            SEKOLAH ITu GRATIS <br>
            UNTUK SEMUA..
        </h1>




    </div>

<!-- pembatas HERO -->

    <div class="gallery" id="about">

        <div class="container1">
            <h3>
                ABOUT US..
            
            </h3>
            <p class="galText">
                Lorem ipsum dolor sit, 
                amet consectetur adipisicing elit. Delectus ipsum itaque fuga 
                in sequi corporis hic est eius 
                quidem, provident magni a 
                voluptatibus vitae necessitatibus veritatis sint minima nesciunt sed?

                <br> <br>

                Lorem ipsum dolor sit, 
                amet consectetur adipisicing elit. Delectus ipsum itaque fuga 
                in sequi corporis hic est eius 
                quidem, provident magni a 
                voluptatibus vitae necessitatibus veritatis sint minima nesciunt sed?

                <br> <br>

                Lorem ipsum dolor sit, 
                amet consectetur adipisicing elit. Delectus ipsum itaque fuga 
                in sequi corporis hic est eius 
                quidem, provident magni a 
                voluptatibus vitae necessitatibus veritatis sint minima nesciunt sed?

                <br> <br>

                Lorem ipsum dolor sit, 
                amet consectetur adipisicing elit. Delectus ipsum itaque fuga 
                in sequi corporis hic est eius 
                quidem, provident magni a 
                voluptatibus vitae necessitatibus veritatis sint minima nesciunt sed?

            

           
            </p>
        </div>

        <div class="container2">

            <div class="box1"></div>
            <div class="box2"></div>
            <div class="box3"></div>
            <div class="box4"></div>

        </div>

    </div>






</body>
</html>