<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="layout.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>layout</title>
</head>
<body>
    
    <div class="container">

        <h1 class="judul">ini judul</h1>
        <hr>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis perferendis placeat expedita numquam, nostrum corrupti minima sed sapiente explicabo illum error odio deserunt incidunt nemo, recusandae consectetur adipisci deleniti corporis?
        </p>

        <!-- <img src="https://images.pexels.com/photos/3325917/pexels-photo-3325917.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""> -->

        <div class="image"></div>
            
        <hr>
        <a href="https://facebook.com">fb</a>

    </div>




</body>
</html>