<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lyout</title>
</head>
<body>
    
    <div class="container">

        <div class="row1">

            <div class="box1 box"></div>
            <div class="box2 box"></div>
            <div class="box3 box"></div>

        </div>

        <div class="row2">

            <div class="box4 box">
                iam roy
            </div>
            <div class="box5 box"></div>

        </div>

        <div class="row3">

            <div class="box6 box"></div>
            <div class="box7 box"></div>
            <div class="box8 box"></div>
            <div class="box9 box"></div>

        </div>



    </div>







</body>
</html>