body{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

.alert{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.856);
    position: fixed;
    color: white;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.close{
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 8px;
    line-height: 20px;
    border-radius: 20px;
}