body{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.image{
    width: 30vw;
    height: 50vh;
    border: 1px solid red;
    background-size: cover;
}