body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.kotak{
    border: 1px solid black;
    padding: 0px 30px;
    margin-bottom: 30px;
}

